.body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.bck-img {
    background-color: #ffa500;
}
#container-principal {
    max-width: 1100px;
    background: #eee;
    margin: 0 auto;
    display: block;
}

.navbar-toggle-perfil{
    background-color: black;
    height: 32px;
}
.navbar-toggle-perfil .glyphicon{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 0px;
}
#nav1{
    background-color: #ffa500;
}
#nav1 #logo {
    position: relative;
    /*left: 10px;*/
    top: 0;
    z-index:60;
    background-color: #ffa500;
}

#nav1 #search {
    float: right;
    width: 242px;
    margin-top: 8px;
    border: none;
}
#nav1 #search #s { 
    display: block;
    float: left;
    width: 175px;
    height: 28px;
    line-height:28px;
    margin-right: 1px;
    padding: 0 6px;
    border: none;
}
#nav1 #search #search-button {
    display: block;
    overflow: hidden;
    width: 30px;
    height: 28px;
    text-indent: -9999px;
    border: none;
    background: url(http://awsassets.panda.org/panda/_skins/pandaorg3/sprite-img-smushed.png) left top no-repeat;
    background-position: 0 -1394px;
}
#nav1 #collap-button{
    background-color: black;
    float: left;
    margin-left: 15px;
}
#nav1 #collapse-perfil{
    background-color: black;

}
.mobile{
    display:none;
}
.desktop{
    display:block;
}
#topo {
    background: #262626;
    padding: 0px 4px;
}
#topo a {
    color: #f0f0f0;
    font-size: 11px;
    border-left: 1px solid #f0f0f0;
    padding: 0px 6px; /* padding: 0px 3px 0 6px; */
    text-decoration:none;
}
#topo li {
    padding: 10px 0;
}
#topo li:hover{
    margin-right: 3px;
    padding-right: 3px;
}
#topo .submenu li {
    padding: 0;
    margin-right: 0;
}
#topo li:first-child a {
    border: 0;
}
#topo .submenu a {
    border: 0;
    padding: 5px;
    display: block;
    padding-right: 35px;
}
li:hover submenu, .submenu li:hover .sub-submenu{
    display: none;
}
.direita {
    float: right;
    display: inline;
}
#topo .direita {
    margin-top: -2px;
}
.submenu {
    display: none;
    position: absolute;
    border: 1px solid #000;
    z-index: 1;
}
.submenu li{
    display: block;
}
.submenu a.com-sub:after{
    width: 12px;
    height: 12px;
    margin: 0px -13px 0 45px;
    padding-right: 5px;
    position: absolute;
    right: 15px;
}
a {
    color: #000;
}
header {
    z-index: 1;
}

h1 {
    float: left;
}

h1, nav li, nav ul {
    display: inline-block;
    box-sizing: border-box;
}